@use '../sass/abstracts/vars';

.btn {
    background-color: white;
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: black; /* Specify your text color */
    font-family: Arial;
    border: 0;
}
&.primary {
    color: vars.$color_primary;
  background-color:
}
&.secondary {
    background-color: transparent;
}